body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.pexels.com/photos/1366957/pexels-photo-1366957.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container{
    background-color: transparent;
    padding: 30px;
    color: white;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
    margin-bottom: 20px;
}

.login-container:hover{
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.692);
    opacity: 1;
    background-color: white;
    color: black;
}

.login-container h2{
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;
}

.input-box{
    margin-bottom: 20px;
    font-size: 20px;
}

.input-box input{
    border-radius: 5px;
    padding: 5px;
    border-color: black;
}

.submit-button{
    background-color: blue;
    color: white;
    border: none;
    font-size: 15px;
    padding: 10px 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover{
    background-color: darkblue;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.692);
}

.signup{
    color: blue;
    text-decoration: none;
    margin-top: 10px;
}

.signup:hover{
    color: darkblue;
}

.device {
    text-align: center;
    position: relative;
    max-width: 400px;
    color: black;
    margin-top: 20px;
}

.device p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 16px;
    background: white;
    border-radius: 4px;
    width: max-content;
}

#desktop{
    z-index: 1;
    opacity: 1;
}

#mobile{
    z-index: 0;
    opacity: 0;
}

@media (max-width:600px){

    .login-container{
        background-color:white ;
        color: black;
        width: 80%;
    }

    #desktop{
        z-index: 0;
        opacity: 0;
    }

    #mobile{
        z-index: 1;
        opacity: 1;
    }
}