body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    font-size: 16px;
    align-items: center;
    overflow-x: hidden;
}
            
ul a{
    text-decoration: none;
}

ul a:hover{
    font-size: 18px;
}

header details{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#intro{
    padding: 20px;
    background-color: white;
    color: black;
    margin: 10px;
    border-radius: 10px;
    text-align: justify;
}
            
.intro-img{
   padding: 0px;
   width: 800px;
   height: 400px;
   border-radius: 10px;
   width: fit-content;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    word-spacing: 5px;
}

#title{
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 20px;
    width: 100%;
}

#title:hover{
    background-color: gray;
    color: white;
}

#articles{
    padding: 20px;
    background-color: white;
    color: black;
    margin: 10px;
    border-radius: 10px;
}

#benefits{
    padding: 20px;
    background-color: white;
    color: black;
    margin: 10px;
    border-radius: 10px;
}

#benefits img{
    height: 300px;
    width: 500px;
    border-radius: 10px;
    width: fit-content;
}

#top-button{
    text-align: right;
    margin: 10px;
}

#top-button a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

#contact{
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}